src/main/mule/p-test-jmoronborraz.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="p-test-jmoronborraz-config" api="resource::6d124814-37f7-4766-acd3-0e33f24edc73:p-test-jmoronborraz:1.0.0:raml:zip:p-test-jmoronborraz.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="p-test-jmoronborraz-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="p-test-jmoronborraz-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="p-test-jmoronborraz-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="p-test-jmoronborraz-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:p-test-jmoronborraz-config">
        <logger level="INFO" doc:name="START" doc:id="f8a5ff1e-5e73-49b4-93ce-70ac6f645dfc" message="#[output application/json&#10;---&#10;{&#10;	tracepoint: &quot;START&quot;,&#10;	message: 'Get Accounts - Process',&#10;	callId: correlationId,&#10;	time: now() &gt;&gt; &quot;Europe/Madrid&quot;&#10;}]" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="be2edb36-31a7-4a9c-a98c-f0430fd6bbfa" >
			<route >
				<http:request method="GET" doc:name="Request Accounts" doc:id="67ae8435-6297-4512-8150-7b7321415f71" config-ref="HTTP_Request_configuration" path="${system.path.getAccounts}" target="accounts">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p("secure::system.security.clientSecret"),
	"client_id" : Mule::p("secure::system.security.clientId")
}]]]></http:headers>
		</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Request Contacts" doc:id="5a92a777-2032-40f1-b4d7-f86b706d1e7b" config-ref="HTTP_Request_configuration" path="${system.path.getContacts}" target="contacts">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p("secure::system.security.clientSecret"),
	"client_id" : Mule::p("secure::system.security.clientId")
}]]]></http:headers>
		</http:request>
			</route>
		</scatter-gather>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

---
vars.contacts map(contact) -> {
    Name: 			contact.Name,
    Salutation: 	contact.Salutation,
    MailingStreet: 	contact.MailingStreet,
    AccountId: 		contact.AccountId,
    Id: 			contact.Id,
	Accounts: 		vars.accounts filter (contact.AccountId == $.Id)
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="DEBUG" doc:name="payload" doc:id="edc8cf90-a4d0-4fd8-b461-ca0974164b4b" message='#[output application/json&#10;---&#10;{&#10;	tracepoint: "FLOW",&#10;	message: payload,&#10;	callId: correlationId,&#10;	time: now() &gt;&gt; "Europe/Madrid"&#10;}]' category="com.deloitte.test"/>
		<logger level="INFO" doc:name="END" doc:id="7780138d-00b0-4f72-ac5e-a5635a90a273" message="#[output application/json&#10;---&#10;{&#10;	tracepoint: &quot;END&quot;,&#10;	message: 'Get Accounts - Process',&#10;	callId: correlationId,&#10;	time: now() &gt;&gt; &quot;Europe/Madrid&quot;&#10;}]"/>
    </flow>
</mule>
